/* DEFAULT CONFIGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fc-blue-color: hsla(184, 65%, 41%, 1);
  --fc-black-color: hsla(0, 0%, 19%, 1);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: var(--fc-black-color);
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.page {
  max-width: 115rem;
  margin: 4rem auto 0;
}

/* MENU STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

nav ul li a {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--fc-blue-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
}

.nav-buttons a:first-child:hover {
  color: var(--fc-blue-color);
  line-height: 2.1rem;
}

.nav-buttons a:nth-child(2) {
  font-weight: 400;
  color: var(--fc-blue-color);
  border: 1px solid var(--fc-blue-color);
  padding: 1.8rem 4.5rem;
}

.nav-buttons a:nth-child(2):hover {
  background-color: var(--fc-blue-color);
  color: #fff;
}

/* WELCOME STYLES */
section {
  margin-top: 1.4rem;
  display: flex;
  gap: 1.1rem;
}

.section-info h1 {
  font-weight: 400;
  font-size: 10rem;
  line-height: 100%;
  color: var(--fc-black-color);
  margin-top: 23.3rem;
}

.section-info h1 span {
  color: var(--fc-blue-color);
  font-weight: 500;
}

.section-info p {
  margin-top: 3rem;
  max-width: 42.6rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
}

.section-buttons {
  width: 41rem;
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.section-buttons a,
.services-content a {
  padding: 1.8rem 5.8rem;
  border: 1px solid var(--fc-blue-color);
  color: var(--fc-blue-color);
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.section-buttons a:first-child:hover,
.section-buttons a + a:hover {
  color: #fff;
  background-color: var(--fc-blue-color);
}

section img {
  max-width: 50rem;
}

/* PARTNERS CONTENT STYLES */
.partners-content {
  min-height: 17rem;
  display: flex;
  background-color: #f8f8f8;
}

.partners-logo {
  margin: 0 auto;
  max-width: 115rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

/* SERVICES STYLES */
.services-content {
  margin: 14rem 0 ;
  text-align: center;
}

.services-content h1 {
  font-weight: 400;
  font-size: 6.5rem;
}

.texts h1 span {
  color: var(--fc-blue-color);
  font-weight: 500;
}

.texts p {
  max-width: 62rem;
  margin: 3rem auto 8rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
}

.services-cards {
  max-width: 115rem;
  margin: 0 auto 8rem;
  display: grid;
  grid-template-areas:
    'card1 card2'
    'card3 card4';
  grid-template-columns: 1fr 1fr;
}

.services-cards .card {
  position: relative;
}

.services-cards .card h2 {
  position: absolute;
  top: 50%;
  left: 35%;
  max-width: 22.5rem;
  color: #fff;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

.services-cards .card img {
  max-width: 48rem;
  filter: brightness(0.5);
}

.services-cards .card:nth-child(1) {
  grid-area: card1;
}

.services-cards .card:nth-child(2) {
  grid-area: card2;
}

.services-cards .card:nth-child(3) {
  grid-area: card3;
}

.services-cards .card:nth-child(4) {
  grid-area: card4;
}

.services-cards .card:nth-child(1) img {
  border-radius: 23rem 0 0 0;
}

.services-cards .card:nth-child(2) img {
  border-radius: 0 23rem 0 0;
}

.services-cards .card:nth-child(3) img {
  border-radius: 0 0 0 23rem;
}

.services-cards .card:nth-child(4) img {
  border-radius: 0 0 23rem 0;
}

.services-cards .card:nth-child(3),
.services-cards .card:nth-child(4) {
  margin-top: 4rem;
}
